<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963985215657-2147s8i4mev4kn2s5mj3i780ku21ooda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963985215657-2147s8i4mev4kn2s5mj3i780ku21ooda</string>
	<key>API_KEY</key>
	<string>AIzaSyDrv6Q-D3tthXiAiXOSUsr7iqMFTcJciaE</string>
	<key>GCM_SENDER_ID</key>
	<string>963985215657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoTcc</string>
	<key>PROJECT_ID</key>
	<string>projetos-tcc-tcc</string>
	<key>STORAGE_BUCKET</key>
	<string>projetos-tcc-tcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963985215657:ios:1749ef5c4bbd8dd8a459b8</string>
</dict>
</plist>